<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35727/livereload.js?snipver=1"></' + 'script>')</script>
    <link rel="stylesheet" type="text/css" href="http://localhost:8000/css/app.css">
    <%= csrf_meta_tags %>
    <% if current_user %>
      <meta name="user_id" content="<%= current_user.id %>">
    <% end %>
  </head>
  <body>
    <% if notice %>
      <div class="notice">
        <p><%= notice %></p>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert">
        <p><%= alert %></p>
      </div>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
